//variables colors

@basic: #ffffff;
@grey: #ededed;
@red: #D82217;
@black: #000000;


body, html {
    margin: 0;
    font-family: "Gotham XNarrow","Avenir Next Condensed",sans-serif-condensed,"Arial Narrow","Arial Nova",sans-serif;
    font-size: 17px;
    transition: background-color .5s ease;
}

#myTable {
  border: none !important;
}

.dataTables_scrollHead {
  background: #dadada;
  color: @black;
  width: 100%;
}

.dataTables_scrollHeadInner th {
  padding: 8px auto;
  height: 41px;
  border-left: 2px solid white;
  border-bottom: none;
}

.dataTables_scrollHeadInner thead .sorting {
  padding: 8px auto;
  border-left: 2px solid white !important;
  text-align: left;
}

.dataTables_scrollHeadInner thead .sorting_asc {
  background: @red;
  color: @basic;
  padding: 8px auto !important;
  border-left: 2px solid white !important;
  text-align: left;
}

.dataTables_scrollHeadInner thead .sorting_desc {
  background: @red;
  color: @basic;
  padding: 8px auto !important;
  border-left: 2px solid white !important;
  text-align: left;
}

table.dataTable.no-footer {
  border-bottom: none !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}


table.dataTable thead th {
  border: none !important;
  padding: 11px 18px !important;
}

table.dataTable thead td {
  border: none !important;
}


table.dataTable tbody th {
  padding: 9px 10px;
  border-left: 4px solid white;
}

table.dataTable tbody td {
  padding: 5px 10px;
  border-left: 2px solid white;
  vertical-align: top !important;
}

th.sorting {
  // text-align: left;
}

.sorting_asc {
  background-image: url(down.png) !important;
  background-position: center -11px !important;
}

.sorting_desc {
  background-image: url(up.png) !important;
  background-position: center 124% !important;
}

// ScrollBody

.dataTables_scrollBody {
  border: none;
}

// Sorting Asc/Desc Dreieck !!!!

// .sorting_asc::after {
//   background-image: url(down.png);
//   width: 20px;
//   height: 20px;
//   display: block;
//   content: "";
//   margin: 0 auto;
//   padding: 0;
  
//   // -webkit-transform: rotate(180deg);
//   // -moz-transform: rotate(180deg);
//   // -ms-transform: rotate(180deg);
//   // -o-transform: rotate(180deg);
//   // transform: rotate(180deg);
// }

// th.sorting.sorting_desc::after {
//   background-image: url(up.png);
//   width: 20px;
//   height: 20px;
//   display: block;
//   content: "";
//   margin: 0px auto;
//   padding: 0;
// }


th {
  border: none;
}

#myTable tr {
  text-align:left;
}

#myTable th {
  text-align: left;
  border-bottom: 0;
}

#myTable li {
  border-top: 1px solid @grey;
  padding-top: 7px;
  border-bottom: none !important;
}

#myTable td.child {
  border-bottom: 2px solid @black;
}

#myTable th {
  border-left: 3px solid @basic;
}


// Suche


#mySearch {
  margin: 15px auto 0px auto;
  display: block;
  border: 1px solid @grey;
}

input#mySearch  {
  background:@grey;
  font-family: "Gotham XNarrow","Avenir Next Condensed",sans-serif-condensed,"Arial Narrow","Arial Nova",sans-serif;
  font-size: 22px;
  text-indent: 5px;
}




// Pagination

#myTable_paginate {
  clear: left;
}

#myTable_paginate a {
  // padding:1rem;
  // margin:0;
  text-align: left;
}

#myTable_paginate a:hover {
  color: @basic;
  background: black;
}

#myTable_paginate .paginate_button.current {
  background: @red;
  color: @basic !important;
  // margin: 5px;
}

#myTable_paginate .paginate_button.next {

}


// Odd Row Colors

#myTable tr.odd {
  background: none;
}

#myTable tr.even {
  background:#ededed;
}


// Info-Element Styling

#myTable_info {
  width: 100%;
  font-size: 1.3rem;
  margin: 0px auto 7px auto;
  text-align: center;
}


// Responsive


table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {

  position: relative;
  padding-left: 30px !important;
  cursor: pointer;

}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
  content: '▸' !important;//'▾' !important;
	top: 20px !important;
	left: 0px !important;
	display: inline !important;
	position: absolute !important;
  color: @red !important;
  width: 0px !important;
  height: 0px  !important;
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: 0 0 0 !important; 
	padding: 0 5px 0 5px;
  text-align: center;
  line-height: 0px !important;
	//text-indent: 0 !important;
  //font-family: sans-serif !important;
  font-size: 1.2rem !important;
	//line-height: 20px !important;
  background-color: transparent !important;
  //background: url(plus.png) no-repeat!important;
  //transform: scale(0.5);
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before{
  //content: '▸' !important;
  top: 15px !important;
  left: 7px !important;
  transform: rotate(90deg);
}



div.dt-buttons {
  padding: 5px;

}

// Barchart

div.barcont {
  height: 20px;
  padding: 2px;
}

td div.barcont {
  min-width: 133px;
}

div.barcont {
}

div.barcont .bardiv {
  width:60%;
}

div.barcont .bar {
  //width: 40% !important;
  float: left;
}

div.barcont .bartext {
  width: 40%;
  float:right;
}

div.barcont .bartext p {
  margin: 0;
  padding: 0 1px;
  word-break: break-all;
  padding: 0px 10px;
  font-weight: bold;
}


